<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a [routerLinkActive]="['is-active']" class="nav-link" routerLink="/accueil">Accueil</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['is-active']" class="nav-link" routerLink="/formulaire">Formulaire</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


